/* CSS Minimalista */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

#app {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #555;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border: none;
    max-width: 30%;
    position: relative;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    margin: 5px 0;
    background: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.logout-button {
    background: #dc3545;
    margin: 10px 0;
}

.logout-button:hover {
    background: #a71d2a;
}

.center {
    text-align: center;
}

.hidden {
    display: none;
}
